
.content{
   width: 940px;
   display: block;
   margin: 0 auto;
}
.content.demo_responsive{
   width: 100%;
   padding: 0 20px;
   box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
}


.content .pws_example_mixed_content_block{
   width: 600px;
   position: relative;
}
.content .pws_example_mixed_content_block:after{
   display: block;
   content: '';
   clear: both;
}
.content .pws_example_mixed_content_left{
   width: 350px;
   position: relative;
   float: left;
   display: block;
}
.content .pws_example_mixed_content_right{
   width: 550px;
   position: relative;
   float: left;
   display: block;
   color: #505050;
}
.content .pws_example_mixed_content_right h3,
.content .pws_example_mixed_content_right p{
   margin: 0 0 15px 0;
   color: #505050;
}
table tbody tr td{
   border: 1px solid #505050;
   padding: 8px;
   font-size: 17px;
   color: #505050;
   font-weight: 300;
}
/* Demo colors */
.content .pws_demo_colors{
   display: block;
   margin: 15px 0;
}

.content .pws_demo_colors_title{
    color:#fff;
    vertical-align:top;
    display:inline-block;
    width:120px;
    height:30px;
    
    padding:6px 0 0 0;
    
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
}

.content .pws_demo_colors a{
   width: 30px;
   height: 30px;
   display: inline-block;
   border: 3px solid #fff;
   box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
}
.content .pws_demo_colors a[data-demo-color="cyan"],
.content .pws_demo_colors a[data-demo-color="dark_cyan"]{
   background-color: #9bd7d5;
}
.content .pws_demo_colors a[data-demo-color="violet"],
.content .pws_demo_colors a[data-demo-color="dark_violet"]{
   background-color: #c72c66;
}
.content .pws_demo_colors a[data-demo-color="green"],
.content .pws_demo_colors a[data-demo-color="dark_green"]{
   background-color: #86c447;
}
.content .pws_demo_colors a[data-demo-color="yellow"],
.content .pws_demo_colors a[data-demo-color="dark_yellow"]{
   background-color: #fdb813;
}
.content .pws_demo_colors a[data-demo-color="gold"],
.content .pws_demo_colors a[data-demo-color="dark_gold"]{
   background-color: #f89827;
}
.content .pws_demo_colors a[data-demo-color="orange"],
.content .pws_demo_colors a[data-demo-color="dark_orange"]{
   background-color: #f15b42;
}
.content .pws_demo_colors a[data-demo-color="red"],
.content .pws_demo_colors a[data-demo-color="dark_red"]{
   background-color: #e41937;
}
.content .pws_demo_colors a[data-demo-color="purple"],
.content .pws_demo_colors a[data-demo-color="dark_purple"]{
   background-color: #672e8d;
}
.content .pws_demo_colors a[data-demo-color="grey"],
.content .pws_demo_colors a[data-demo-color="dark_grey"]{
   background-color: #4d4d4f;
}
/* silder */
.jssora02l, .jssora02r {
                display: block;
                position: absolute;
                
                width: 55px;
                height: 55px;
                cursor: pointer;
                background: url(../images/a02.png) no-repeat;
                overflow: hidden;
            }
            .jssora02l { background-position: -3px -33px; }
            .jssora02r { background-position: -63px -33px; }
            .jssora02l:hover { background-position: -123px -33px; }
            .jssora02r:hover { background-position: -183px -33px; }
            .jssora02l.jssora02ldn { background-position: -3px -33px; }
            .jssora02r.jssora02rdn { background-position: -63px -33px; }
 .jssort03 {
                position: absolute;
                /* size of thumbnail navigator container */
                width: 600px;
                height: 60px;
            }

                .jssort03 .p {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 62px;
                    height: 32px;
                }

                .jssort03 .t {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border: none;
                }

                .jssort03 .w, .jssort03 .pav:hover .w {
                    position: absolute;
                    width: 60px;
                    height: 40px;
                    border: white 1px dashed;
                    box-sizing: content-box;
                }

                .jssort03 .pdn .w, .jssort03 .pav .w {
                    border-style: solid;
                }

                .jssort03 .c {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 62px;
                    height: 32px;
                    background-color: #000;
                    filter: alpha(opacity=45);
                    opacity: .45;
                    transition: opacity .6s;
                    -moz-transition: opacity .6s;
                    -webkit-transition: opacity .6s;
                    -o-transition: opacity .6s;
                }

                .jssort03 .p:hover .c, .jssort03 .pav .c {
                    filter: alpha(opacity=0);
                    opacity: 0;
                }

                .jssort03 .p:hover .c {
                    transition: none;
                    -moz-transition: none;
                    -webkit-transition: none;
                    -o-transition: none;
                }
.accordion_container {
    width: 500px;
}
.accordion_head {
    background-color:skyblue;
    color: white;
    cursor: pointer;
    font-family: arial;
    font-size: 14px;
    margin: 0 0 1px 0;
    padding: 7px 11px;
    font-weight: bold;
}
.accordion_body {
    background: lightgray;
}
.accordion_body p {
    padding: 18px 5px;
    margin: 0px;
}
.plusminus {
    float:right;
}